# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor configs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Caching & Testing
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
/doc